div.topbar-wrapper {
    position: relative;
    height: 40px;
    margin: 5px 0 15px;
}

div.rank-graph {
    height: 1em;
    width: 10em;
    border: 1px solid #0050A3;
    
    div.graph-bar {
        height: 1em;
        background-color: #BBD8E9;
    }
}

